*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: rubik, sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: 50px auto 50px;
  grid-gap: 30px;
  min-height: 100vh;
  margin: 0;
  background-image: url(../img/green-velvet.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header,
.main,
.footer {
  grid-column: 2/3;

}
.header {
  grid-row: 1/2;
}
.main {
  grid-row: 2/3;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}
.footer {
  grid-row: 3/4;
}
.header {
  padding: 1em 0;
}
.navigation {
  height: 100%;
}
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation li {
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  line-height: 1.4;
  margin-bottom: 10px;
}

/* *
* * estilos para el botón 
* */

/* *
* * estilos para el botón secundario
* */

.button-cerrar {
  background: transparent;
  border: 0;
  border-radius: 0;
  display: block;
  height: 20px;
  width: 100%;
  outline: none;
}
.icon-close {
  position: relative;
  display: block;
}
.icon-close:before,
.icon-close:after {
  content: '';
  width: 20px;
  height: 2px;
  background: #607d8b;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(135deg);
}
.icon-close:after {
  transform: rotate(225deg);
}
.background-pink {
  background-color: #9c27b0;
}

/* *
* * estilos para la clase hidden
* */

.footer {
  text-align: center;
  /* margin-top: 30px; */
}
small {
  font-size: 80%;
}

h2 {
  width: 100%;
}


/* *
* * Aquí deberían estar el css para el contenedor de reglas
* */

/* tablero */

/* *
* * estilos para #mazos y #cartas
* */

/* *
* * estilos para #cartas
* */

/* *
* * estilos para la clase section
* */

/* *
* * Estilos para mazo button
* */


/* *
* * Estilos para .mazo
* */

/* *
* * Estilos para .mazo.is-visible
* */

/* *
* * Estilos para .carta
* */

.carta span {
  pointer-events: none;
}
.carta span:first-of-type {
  font-size: 24px;
}
.mazo-button:disabled,
.carta.disabled {
  background: #eee;
}
.mazo-button:disabled {
  pointer-events: none;
}

.jocker {
  background: #f7f7f7;
}
.carta:before,
.carta:after {
  width: 20px;
  height: 20px;
  position: absolute;
}
.carta:before {
  top: 10px;
  left: 10px;
}
.carta:after  {
  bottom: 10px;
  right: 10px;
}
.corazon:before,
.corazon:after  {
  content: url('../img/icon-corazon.svg');
}
.rombo:after,
.rombo:before {
  content: url('../img/icon-rombo.svg');
}
.trebol:after,
.trebol:before {
  content: url('../img/icon-trebol.svg');
}
.pica:after,
.pica:before {
  content: url('../img/icon-pica.svg');
}

#mazos #cartas{
  display: grid;
  grid-template-columns: repeat(auto-fit,120px);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
  justify-content: center; 
}

#cartas{
  grid-auto-rows: minmax(50px, 60px);
}

.section{
  margin: 30px 0px 30px 0px;  
}

.mazo-button{
  width: 100%;
  height: 120px;
  background-color: #607d8b;
  border-radius: 5px;
  margin: 5px;
  color: #fff;
}


/*animation shake*/
.shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
